<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../Bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href=" ../templates/additionally_style.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../showGoods.js"></script>
    <script type="text/javascript" src="basket.js"></script>
    <title>Market Drive</title>
</head>
<body data-page="basket">
    <header>
        <div class="container-fluid">
            <div class="row justify-content-around">
                <nav class="navbar navbar-expand-lg">
                    <div class="logo">
                        <img src="../logo.png" alt="logo">
                    </div>
                    <form class="form-inline my-2 my-lg-0">
                        <input type="search" class="form-control m-sm-2" placeholder="Найти товар" aria-label="Search">
                        <button class="btn btn-main my-2 my-sm-0" type="submit">Найти</button>
                    </form>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Настройки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Выход</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <nav class="main-nav">
                <ul>
                    <li>
                        <a href="../content.html">Каталог товаров</a>
                    </li>
                    <li>
                        <a href="#">История</a>
                    </li>
                    <li>
                        <a href="../templates/templates.html">Шаблоны</a>
                    </li>
                    <li>
                        <a href="../expenses/expenses.html">Затраты</a>
                    </li>
                    <li>
                        <a href="basket.html">Корзина<span id="total-basket-count" class="badge"></span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
    <div class="row">
        <table class="table col-6 offset-3">
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Кол-во</th>
                        <th>Цена сегодня</th>
                        <th>Сумма</th>
                    </tr>
                </thead>
                <tbody id="basket-item">
                    <tr><td colspan="6"></td>
                        <!--<td class="goods-result"></td>-->
                        <!--<td><input id="number1" type="number" name="number" class="number" value="0" min="0"/></td>-->
                        <!--<td class="price"></td>-->
                        <!--<td>грн</td>-->
                    </tr>
                    <!--<tr>-->
                        <!--<td class="goods-result"></td>-->
                        <!--<td><input id="number2" type="number" name="number" class="number" value="0" min="0"/></td>-->
                        <!--<td class="price"></td>-->
                        <!--<td>грн</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="goods-result"></td>-->
                        <!--<td><input id="number3" type="number" name="number" class="number" value="0" min="0" /></td>-->
                        <!--<td class="price"></td>-->
                        <!--<td>грн</td>-->
                    <!--</tr>-->
                </tbody>
            <th> Итого: <span id="total-basket-sum"></span>грн.</th>
        </table>
    </div>
        <div class="row">
            <div class="col-2 offset-3">
                <a class="nav-link" href="../content.html" alt="">Добавить товар</a>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-8">
                <span>Забрать в</span><input type="time" name="time" />
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-5">
                <button class="btn-fixed btn btn-main">Оформить заказ</button>
            </div>
        </div>
    </main>



    <script id="basket-template" type="text/template">
        <% _.each(goods, function(good) { %>
        <tr class="add-basket-item" data-id="<%= good.id %>">
            <!--<td><%= good.id %></td>-->
            <td><%= good.name %></td>
            <td>
                 <span
                         class="btn-dec-count change-count"
                         title="Уменьшить на 1"
                         data-id="<%= good.id %>"
                         data-delta="-1"
                 >
                        <i class="fa fa-angle-down"></i>
                    </span>
                <span class="count"><%= good.count %></span>
                <span
                        class="btn-inc-count change-count"
                        title="Увеличить на 1"
                        data-id="<%= good.id %>"
                        data-delta="1"
                >
                        <i class="fa fa-angle-up"></i>
                    </span>
                </td>
            <td>
                <%= good.price %> грн.
            </td>
            <td><span class="sum"><%= good.count * good.price %></span> грн.</td>
            <td>
                    <span class="btn-delete remove-form-basket" title="Удалить из корзины" data-id="<%= good.id %>">
                        <i class="fa fa-ban"></i>
                    </span>
            </td>
        </tr>
        <% }); %>
    </script>



    <!--<script type="text/html" src="/modules/jquery.min.js"></script>-->
    <!--<script type="text/html" src="/modules/jquery.cookie.js"></script>-->
    <script type="text/javascript" src="../underscore.js"></script>
    <!--<script type="text/javascript" src="catalog.js"></script>-->
    <!--<script type="text/javascript" src="basket.js"></script>-->
    <script type="text/javascript" src="index.js"></script>
    <!--<script type="text/javascript" src="../showGoods.js"></script>-->
    <script type="text/javascript">

    </script>
</body>
</html>