    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../Bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="additionally_style.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../main_nav_styles/style.css">
    <title>Market Drive</title>
</head>
<body>
    <header>
        <div class="container">
                <div class="row">
                        <div class="col-lg-4 col-md-4 logo">
                            <img src="../images/logo.png" alt="logo">
                        </div>
                        <form class="col-lg-3 col-md-3">
                            <i class="fas fa-search"></i><input type="search" class="input-search" placeholder="найти товар..." aria-label="Search">
                            <button class="button-search" type="submit">найти</button>
                        </form>
                        <div class="exit col-lg-2 col-md-2">
                            <button class="exit-link" type="submit">Выход</a>
                        </div>
                </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="background-image"></div>
            </div>
        </div>
        <div class="container">
            <div class="content">
            <nav class="row">
                    <ul class="main-nav offset-lg-2">
                        <li>
                            <a href="../content.html" class="catalog">Каталог</a>
                        </li>
                        <li>
                            <a href="../history.html" class="history">История</a>
                        </li>
                        <li>
                            <a href="templates.html" class="template">Шаблоны</a>
                        </li>
                        <li>
                            <a href="../expenses/expenses.html" class="cost">Затраты</a>
                        </li>
                        <li>
                            <a href="../basket/basket.html" class="buy">Корзина</a>
                        </li>
                    </ul>
            </nav>
        <!--<ul id="template">-->
            <!--<li class="list">-->

            <!--</li>-->
        <!--</ul>-->
        <div class="row">

            <table class="table col-6 offset-5">
                    <thead>
                        <tr>
                            <td>Товар</td>
                            <td>Кол-во</td>
                            <td>Цена сегодня</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Батон нарезной</td>
                            <td><input type="number" name="number" class="number" value="0" min="0"/></td>
                            <td>7,5</td>
                            <td>Х</td>
                        </tr>
                        <tr>
                            <td>Молоко 2.5%</td>
                            <td><input type="number" name="number" class="number" value="0" min="0"/></td>
                            <td>23</td>
                            <td>Х</td>
                        </tr>
                        <tr>
                            <td>Мыло Шик</td>
                            <td><input type="number" name="number" class="number" value="0" min="0" /></td>
                            <td>10</td>
                            <td>Х</td>
                        </tr>
                    </tbody>
            </table>
        </div>
            <div class="row">
                <div class="col-2 offset-5">
                    <a class="nav-link" href="../content.html" alt="">Добавить товар</a>
                </div>
            </div>
            <div class="row">
                <div class="col-2 offset-10">
                    <span>Забрать в</span><input type="time" name="time" />
                </div>
            </div>
            <div class="row">
                <div class="col-3 offset-1">
                    <button id="create" class="btn btn-main">Создать шаблон</button>
                    <button class="btn btn-main">Удалить шаблон</button>
                </div>
            </div>
            <div class="row">
                <div class="col-2 offset-8">
                    <button class="btn btn-fixed btn-main">Добавить в корзину</button>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-contact">
        <div class="container">
            <div class="row">
                <div class="mail col-lg-4 offset-lg-1"><p>Будьте в курсе последних новостей проекта!</p></div>
                <input type="email" class="input-email col-lg-3" placeholder="Ваш email..." aria-label="Email">
                <button class="button-email col-lg-2" type="submit">отправить</button>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <div class="aside"></div>
        <div class="footer-image"></div>
        <div class="aside"></div>
    </div>
</footer>
    <!--<script type="text/javascript" src="templates.js"></script>-->
</body>
</html>