html, body {
  height: 100%;
}

body {
  display: block;
  padding-bottom: 40px;
  background-color: #fff;
  font-family: "Noto Serif", serif;
  font-weight: 300;
  font-size: 17px;
  overflow-x: hidden;
  background: url(../images/background-light.png) repeat;
}

.container {
  min-width: 1200px;
}

/* header */
header {
  width: 100%;
  height: 50px;
  z-index: -3;
  background-color: #000;
}
header .logo {
  margin-left: 15px;
}
header .logo img {
  width: 100%;
  height: 100%;
}
header form {
  margin-left: 200px;
}
header form .input-search {
  width: 150px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding-left: 10px;
  padding-bottom: -10px;
  color: #fff;
}
header form input::-webkit-input-placeholder {
  color: #f1f1f1;
}
header form .fa-search {
  color: #fff;
}
header form .button-search {
  border: none;
  border-radius: 50px;
  background-color: #f1f1f1;
  color: #000;
  margin-left: 20px;
  margin-top: 10px;
  width: 75px;
}
header form .button-search:hover {
  background-color: #0ec491;
  color: #fff;
}
header .exit {
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 50px;
  width: 70px;
  height: 25px;
}
header .exit .exit-link {
  border: none;
  background-color: #000;
  color: #3cabfe;
  text-decoration: none;
  padding: 0 20px;
  text-align: center;
}
header .exit .exit-link:hover {
  border-radius: 50px;
  background-color: #3cabfe;
  color: #fff;
}
header .exit .exit-link::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  margin-bottom: -10px;
  margin-left: -20px;
  height: 40px;
  width: 40px;
  background-image: url(../images/icons.png);
  background-position: 115px 40px;
}
header .exit .exit-link:hover::before {
  background-position: 115px 80px;
}

.background-image {
  width: 100%;
  height: 350px;
  background: url(../images/background-image.jpg) center bottom no-repeat;
  z-index: -2;
}

ul {
  margin-bottom: -5rem;
}

/*content*/
thead {
  background-color: #0ec491;
  border: none;
}

.content {
  background: #fcfcfc;
}

/*sing in website*/
.form-signit {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
  box-sizing: border-box;
}

/*list check in*/
.list-group {
  list-style: none;
}

/* navigation*/
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(5, 1fr);
}

.main-nav a {
  border: 2px solid #0ec491;
  color: #000;
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
  border-radius: 5px;
}

.main-nav a:hover {
  background: #0ec491;
  color: #fff;
}

/* menu goods*/
#menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  float: left;
  list-style: none;
  margin-left: 15px;
  width: 300px;
  height: 80%;
  margin-left: 20px;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
  border-radius: 5px;
  text-decoration: none;
  margin-top: 5px;
  font-weight: normal;
}

#menu span {
  cursor: pointer;
  font-size: 17px;
  margin-left: 5px;
}

#menu .list a {
  text-decoration: none;
  list-style: none;
}

#menu li {
  margin-top: 2px;
}

.good {
  height: 80%;
  width: 95%;
}

#result {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  font-size: 15px;
  margin-top: 5px;
  overflow-y: scroll;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
  border-radius: 5px;
  float: right;
  width: 67%;
  height: 100%;
  margin-right: 15px;
  font-family: "Segoe UI";
  font-weight: normal;
}

.goods-list {
  position: relative;
  height: 300px;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
  margin: 10px 10px;
  text-align: center;
}

.send-goods {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 20px;
  width: 75px;
  padding-left: 5px;
  position: absolute;
  bottom: 0;
  margin: 10px 10px;
}

.send-goods:hover {
  background-color: #00e1c7;
  color: #fff;
  border: 1px solid #00e1c7;
}

#result::-webkit-scrollbar {
  width: 5px;
}

#result::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.7);
}

.btn-main {
  border: 2px solid #086c65;
  color: #000;
  background-color: transparent;
  margin-bottom: 10px;
  width: 160;
}

.btn-main:hover {
  background: #086c65;
  color: #fff;
}

/*footer*/
footer {
  width: 100%;
  height: 200px;
  background: #3cabfe;
  /* Old browsers */
  background: -moz-linear-gradient(left, #3cabfe 0%, #207cca 0%, #2989d8 0%, #2989d8 1%, #2989d8 9%, #2989d8 37%, #00e1c7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3cabfe 0%, #207cca 0%, #2989d8 0%, #2989d8 1%, #2989d8 9%, #2989d8 37%, #00e1c7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #3cabfe 0%, #207cca 0%, #2989d8 0%, #2989d8 1%, #2989d8 9%, #2989d8 37%, #00e1c7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3cabfe", endColorstr="#00e1c7",GradientType=1 );
  /* IE6-9 */
}
footer .footer-contact {
  height: 60px;
  width: 100%;
}
footer .footer-content {
  height: 140px;
  width: 100%;
  display: flex;
  flex-flow: row;
}
footer .footer-content .footer-image {
  background: url(../images/footer-bg-lg.png) no-repeat center bottom;
  width: 100%;
  height: 100%;
  flex-basis: 1200px;
}
footer .footer-content .aside {
  background: #000;
  flex: 1 auto;
}
footer .mail {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}
footer .mail::before {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-left: -13px;
  margin-top: -10px;
  float: left;
  content: " ";
  background-image: url(../images/icons.png);
  background-position: -245px 0px;
}
footer .input-email {
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  border: 1px solid #00e1c7;
  border-radius: 50px;
}
footer .button-email {
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 50px;
  border: 1px solid #00e1c7;
}
footer .button-email:hover {
  background-color: #00e1c7;
  color: #fff;
  border: 1px solid #00e1c7;
}

/*# sourceMappingURL=main.css.map */
